/*
	--------------------------------------------------

	# Information

	File: aubatch.config
	Project: Project 2 - AUBatch
	Author: Chris Hinkson @cmh02

	--------------------------------------------------

	## Description

	This file will serve as the main configuration file for this project. You may set a variety of options here, 
	many of which are also available to be overriden as command line arguments. 

	Note that the format given below is a very simple but custom implementation of common config structure. Here's
	a few hints and tips about how this is used:
	- To keep things consistent with the rest of the project, multiline comments are supported using the `/*` and `*/`
	  symbols from C. Note that these must be at the very beginning of a line. Anything following these symbols in the
	  line will also be commented out.
	- Likewise, I've adopted the same style of single line / inline comments from C using the `//` symbol.
	- The configuration options below are in the syntax of KEY=VALUE. Since this configuration is not intended to be used
	  in any other project, I took the naive approach of each value here being expected in the project. A default value
	  is present, so it is safe to remove or comment out an option, although this is not suggested. Additionally, if the
	  value specified for an option is not able to be parsed (for instance, if you give 'hi' as the number of processes),
	  the program will simply default back to its own value. 
	- There are no "hidden" options either. If an option exists for something, it will be below.
	- There should be no quotations, type identifiers, or other symbols. Each option has a predefined type, shown below.
	  Including extra symbols may just make it unparsable. The config loader will expect to parse it raw into whatever type
	  it should be.

	--------------------------------------------------
*/


/*
	# Debug Configuration

	This configuration allows you to specify whether debug information should be sent to the log file and/or terminal (via stdout).

	## Acceptable Values

	- 'true': The debug output will be sent to the log file or stdout terminal window.
	- 'false': The debug output will NOT be sent to the log file or stdout terminal window.
*/
LOGGING_SEND_DEBUG_TO_LOG=true
LOGGING_SEND_DEBUG_TO_STDOUT=false

/*
	# Log Directory

	This configuration allows you to specify the log directory you wish for logs to be saved to. If this does not exist, it will be created.

	## Acceptable Values

	- '<file path here>': The file path where logs should be saved.
*/
LOGGING_DIRECTORY=../logs/